#obrazek{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    margin-bottom: 50px;
    margin-top: 50px;
    animation: pulse 4s infinite ease-in-out;
}

/* Definicja animacji */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

#main{
    font-family: 'Rye', cursive;
    text-align: center;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.354);
    color: #ffcc66;
    margin: 0;
    font-size: 60px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 15px;
    pointer-events: none;
}


a.link{
    all: unset;
    color: #ffcc66;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 15px;
    
}

a.link:hover{
    text-shadow: 0 0 5px #ffcc66, 0 0 10px #ffcc66; /* efekt świecenia */
    color: #ffffff; /* biały tekst przy najechaniu */
    transform: scale(1.01);
    padding: 5px 15px;
}


a {
    display: block;
    font-family: 'Rye', cursive;
    font-size: 40px;
    color: #ffcc66; /* złoty kolor */
    text-decoration: none;
    margin: 10px 0;
    padding: 5px 15px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

a:hover {
    color: #ffffff; /* biały tekst przy najechaniu */
    border: 2px solid #ffcc66; /* złota ramka */
    background-color: rgba(255, 204, 102, 0.15); /* lekka poświata */
    text-shadow: 0 0 5px #ffcc66, 0 0 10px #ffcc66; /* efekt świecenia */
    transform: scale(1.05);
    border-radius: 15px;
}

#menu{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.354);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 2%;
    width: 800px;
    height: 510px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    border-radius: 15px;
}


body{
    background-image: url("tło.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

.side-panel {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(44, 25, 14, 0.97); /* drewniany klimat */
    box-shadow: -5px 0 15px rgba(0,0,0,0.8);
    overflow-x: hidden;
    overflow-y: auto;
    transition: width 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    z-index: 1000;
    padding-top: 20px;
    border-left: 6px solid #c49b66; /* efekt ramy */
}

p#nagłówki{
    width: 49vw;
    font-family: 'Rye', cursive;
    color: #ffcc66; /* złoty kolor */
    text-align: center;
    line-height: 45px;
    font-size: 42px;
}


/* REGULAMIN PANEL */
.panel-content {
    padding: 20px;
    width: 49vw;
    font-family: 'Georgia', serif;
    color: white;
    text-align: left;
    line-height: 45px;
    font-size: 20px;

}

.side-panel.open {
    width: 51.5vw;
}

.close-btn {
    font-size: 36px;
    cursor: pointer;
    float: right;
    color: #ffcc66;
}

.panel-content h2 {
    margin-top: 0;
    color: #ffcc66;
    border-bottom: 2px solid #ffcc66;
    padding-bottom: 5px;
}

.panel-content p {
    line-height: 1.6;
    font-size: 18px;
}

        /* Stylizacja paska przewijania w panelu */
.side-panel::-webkit-scrollbar {
    width: 8px; /* szerokość paska */
}

.side-panel::-webkit-scrollbar-track {
    background: #2c190e; /* ciemny brąz tła */
    border-left: 2px solid #c49b66; /* złota ramka */
}

.side-panel::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #c49b66, #8b5e34); /* gradient złoto-brąz */
    border-radius: 6px;
    border: 2px solid #2c190e; /* obramowanie jak drewno */
}

.side-panel::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #e6c27a, #a06b3f); /* jaśniejszy przy hover */
}

#signature {
    position: fixed;
    bottom: 10px;
    right: 15px;
    font-size: 12px;
    font-family: 'Rye', cursive; /* elegancka westernowa czcionka */
    color: #ffcc66;
    text-shadow: 
        1px 1px 0px #1a120d, /* cień wewnętrzny */
        2px 2px 4px #000;    /* cień głębszy */
    padding: 5px 10px;
    z-index: 9999;
    pointer-events: none;
}



/* LORE PANEL: */
#lore-panel {
    position: fixed;
    top: 0;
    left: 0;    
    right: auto;     
    height: 100%;
    width: 0;        
    background-color: rgba(44, 25, 14, 0.97);
    box-shadow: 5px 0 15px rgba(0,0,0,0.8);
    overflow-x: hidden;
    overflow-y: auto;
    transition: width 1.5s cubic-bezier(0.68,-0.55,0.27,1.55);
    z-index: 1000;
    border-right: 6px solid #c49b66; 
    border-left: 1px solid #c49b66; 
}

/* otwarty */
#lore-panel.open { 
    width: 53vw; 
}
#lore-panel .panel-content { 
    width: 49vw; 
    padding: 20px; 
    font-family: 'Georgia', serif; 
    font-size: 20px
}
#lore-panel .close-btn { 
    font-size: 36px; 
    cursor: pointer; 
    float: right; 
    color: #ffcc66; 
}
#lore-panel h2 { 
    margin: 0 0 10px; 
    color: #ffcc66; 
    border-bottom: 2px solid #ffcc66; 
    padding-bottom: 6px; 
}

/* przyciski miast */
#lore-panel .city-btn{
    display:block; 
    width:100%;
    margin:10px 0; 
    padding:10px 12px;
    background:none; 
    color:#ffcc66; 
    border:1px solid #c49b66; 
    text-align:left; 
    cursor:pointer; 
    transition:background .3s;
    font-family: 'Rye', cursive; /* elegancka westernowa czcionka */
    border-radius: 15px;
    font-size: 25px;
}

#lore-panel .city-btn:hover{ 
    background: rgba(196,155,102,0.18); 
    color: #ffffff; /* biały tekst przy najechaniu */
    background-color: rgba(255, 204, 102, 0.15); /* lekka poświata */
    text-shadow: 0 0 5px #ffcc66, 0 0 10px #ffcc66; /* efekt świecenia */
    transform: scale(1.01);
}


/* płynne otwieranie */
#lore-panel .city-desc{
    max-height:0; opacity:0; overflow:hidden;
    transition:max-height .35s ease, opacity .35s ease, padding .35s ease;
    margin-left:10px; 
    border-left:2px solid #c49b66; 
    padding:0 0 0 10px; 
    color:#fff; 
    font-size:20px;
}
#lore-panel .city-desc.active{ 
    max-height:2000px; 
    opacity:1; 
    padding:8px 0 8px 10px; 
    font-size: 20px
}

/* ten sam zajebisty scrollbar */
#lore-panel::-webkit-scrollbar{ 
    width:8px; 
}
#lore-panel::-webkit-scrollbar-track{ 
    background:#2c190e; border-right:2px solid #c49b66; 
}
#lore-panel::-webkit-scrollbar-thumb{
    background:linear-gradient(180deg,#c49b66,#8b5e34);
    border-radius:6px; border:2px solid #2c190e;
}
#lore-panel::-webkit-scrollbar-thumb:hover{
    background:linear-gradient(180deg,#e6c27a,#a06b3f);
}




/* EKRAN STARTOWY */
  #preloader {
    background-image: url("start.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
  }

  .start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #logo {
    width: 550px;
  }

  #enterBtn {
    display: block;
    font-family: 'Rye', cursive;
    font-size: 60px;
    color: #ffcc66; /* złoty kolor */
    border: 2px solid #ffcc66; /* złota ramka */
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.39);
    text-decoration: none;
    margin: 10px 0;
    padding: 5px 15px;
    transition: all 0.3s ease;
  }

  #enterBtn:hover {
    color: #ffffff; /* biały tekst przy najechaniu */
    border: 2px solid #ffcc66; /* złota ramka */
    background-color: rgba(255, 204, 102, 0.15); /* lekka poświata */
    text-shadow: 0 0 5px #ffcc66, 0 0 10px #ffcc66; /* efekt świecenia */
    transform: scale(1.05);
    border-radius: 15px;
  }

  .animate-up {
    animation: fadeUp 3s ease forwards;
  }

  @keyframes fadeUp {
    0% { opacity: 1; transform: translateY(0) scale(1); }
    70% { opacity: 1; transform: translateY(-50px) scale(1); }
    100% { opacity: 0; transform: translateY(-300px) scale(1); }
  }

  #preloader.hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
  }



/* ten skurwysyn u góry */
    .panel {
        position: fixed;
        width: 99vw;
        height: 100%;
        background: rgba(44, 25, 14, 0.97);
        color: #FFD57A;
        z-index: 9999;
        overflow-y: auto;
        box-shadow: -5px 0 15px rgba(0,0,0,0.7);
        transition: 1.5s cubic-bezier(0.5, 1.25, 0.11, 0);
        font-family: 'Rye', cursive;
        border-bottom: 6px solid #c49b66;
        overflow-x: hidden;
    }

    #intro-panel {
        top: -100%;
        left: 0;
    }
    #intro-panel.active {
        top: 0;
    }

    /* Treść */
    #intro-panel .panel-content {
        padding: 40px;
        max-width: 1500px;
        margin: auto;
        width: 100vw
    }

    /* Przycisk zamykania */
    .close-btn {
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 28px;
        cursor: pointer;
    }

    /* ten sam zajebisty scrollbar */
    #intro-panel::-webkit-scrollbar{ 
        width:8px; 
    }
    #intro-panel::-webkit-scrollbar-track{ 
        background:#2c190e; border-right:2px solid #c49b66; 
    }
    #intro-panel::-webkit-scrollbar-thumb{
        background:linear-gradient(180deg,#c49b66,#8b5e34);
        border-radius:6px; border:2px solid #2c190e;
    }
    #intro-panel::-webkit-scrollbar-thumb:hover{
        background:linear-gradient(180deg,#e6c27a,#a06b3f);
    }


    p.tytul{
        color: #ffcc66; 
        text-align: left; 
        font-family: 'Rye', serif; 
        text-decoration: none; 
        font-size: 30px;
        margin-left: 35px;
        margin-top: 40px;
        cursor: pointer;
    }

    p.tytul:hover{
        text-shadow: 0 0 5px #ffcc66, 0 0 10px #ffcc66; /* efekt świecenia */
        color: #ffffff; /* biały tekst przy najechaniu */
        transform: scale(1.01);
    }


    p.opis{
        font-family: 'Georgia', serif;
        color: white;
        text-align: left;
        line-height: 45px;
        font-size: 20px;
        max-height: 0;
        overflow: hidden;
        transition:max-height .35s ease, opacity .35s ease, padding .35s ease;
        padding: 0 0; 
    }

    .opis.active {
        max-height: 6000px;
        padding: 10px 0;
    }



